apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://mon_prometheus:9090
    isDefault: false

  - name: Loki
    type: loki
    access: proxy
    url: http://mon_loki:3100
    isDefault: true
    jsonData:
      maxLines: 1000
