global:
  scrape_interval: "30s"
  scrape_timeout: "10s"
  evaluation_interval: "1m"
  body_size_limit: "0"
  sample_limit: 0
  label_limit: 0
  label_name_length_limit: 0
  label_value_length_limit: 0
  target_limit: 0

scrape_configs:
  - job_name: "cadvisor"
    metrics_path: /metrics
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "svapp"
    metrics_path: /metrics
    static_configs:
      - targets: ["svapp:3000"]

  - job_name: "ollama-metrics"
    static_configs:
      - targets: ["ollama-exporter:8000"]
